# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# Data & outputs (keep repo light)
data/
reports/
# If you want to keep figures under version control, remove 'reports/' above
# and ignore only heavy items:
# reports/*.csv
# reports/metrics.txt

# Logs
*.log
